body{
    background-color: beige;
    color: brown;
    font-size: 16px;

}
img {
 width:200px;
 
 
}

   h1 {
        color:red;
        text-align:center;
        font-size: 2rem;

}
p {
 text-align: left;
 color: black;
}